@charset "utf-8";

html {
  font-size: 100%;
}

body {

}

img {
  width: 100%;
  vertical-align: middle;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

// ------------------------------------------
// ---------------hamburger-menu-------------
// ------------------------------------------
#toggle-btn {
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  width: 30px;
  height:30px;
  cursor: pointer;
  background:#fff;

  span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #666;
    &:nth-child(1) {
      top: 10px;
      &.open {
        transform: translateY(4px) rotate(-45deg);
        background-color: white;
        z-index: 20;
      }
    }
    &:nth-child(2) {
      bottom: 10px;
      &.open {
        transform: translateY(-4px) rotate(45deg);
        background-color: white;
        z-index: 20;
      }
    }
  }
}
#mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  &.open {
    display: block;
  }
}



// ------------------------------------------
// -------------------common-----------------
// ------------------------------------------
.wrapper {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

// ------------------------------------------
// -------------------header-----------------
// ------------------------------------------
#header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    display: block;
    img {
      width: 180px;
    }
  }
  nav ul {
    z-index: 20;
    font-size: 0.875rem;
    position: fixed;
    width: 300px;
    top: 0;
    left: -300px;
    padding: 36px 50px;
    opacity: 1;
    display: block;
    transition: all .5s;
    &.open {
      left: 0;
    }
    li {
      margin-bottom: 15px;
      a {
        color: white;
      }
    }
  }
}

// ------------------------------------------
// --------------------main------------------
// ------------------------------------------

#top {
  padding-bottom: 160px;
  ul {
    display: grid;
    column-gap: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    a {
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        opacity: 0.7;
      }
      li {
        margin-bottom: 40px;
        img {
          margin-bottom: 10px;
        }
        p {
          text-align: left;
          font-size: 0.75rem;
        }
      }
    }
  }
  .view-more-link {
    text-align: center;
    a {
      font-size: 0.875rem;
      display: inline-block;
    }
  }
}

// ------------------------------------------
// ------------------footer------------------
// ------------------------------------------

#footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  ul {
    display: flex;
    font-size: 0.75rem;
    li a {
      margin-right: 30px;
    }
  }
  p {
    font-size: 0.625rem;
  }
}