@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}

img {
  width: 100%;
  vertical-align: middle;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

#toggle-btn {
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #fff;
}

#toggle-btn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #666;
}

#toggle-btn span:nth-child(1) {
  top: 10px;
}

#toggle-btn span:nth-child(1).open {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
  background-color: white;
  z-index: 20;
}

#toggle-btn span:nth-child(2) {
  bottom: 10px;
}

#toggle-btn span:nth-child(2).open {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
  background-color: white;
  z-index: 20;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
}

#mask.open {
  display: block;
}

.wrapper {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  height: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header h1 {
  display: block;
}

#header h1 img {
  width: 180px;
}

#header nav ul {
  z-index: 20;
  font-size: 0.875rem;
  position: fixed;
  width: 300px;
  top: 0;
  left: -300px;
  padding: 36px 50px;
  opacity: 1;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header nav ul.open {
  left: 0;
}

#header nav ul li {
  margin-bottom: 15px;
}

#header nav ul li a {
  color: white;
}

#top {
  padding-top: 80px;
  padding-bottom: 160px;
}

#top ul {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2.7%;
          column-gap: 2.7%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

#top ul a {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#top ul a:hover {
  opacity: 0.7;
}

#top ul a li {
  margin-bottom: 40px;
}

#top ul a li img {
  margin-bottom: 10px;
}

#top ul a li p {
  text-align: left;
  font-size: 0.75rem;
}

#top .link {
  text-align: center;
}

#top .link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0;
          column-gap: 0;
}

#top .link ul li {
  padding: 0 20px;
  display: inline-block;
  font-size: 0.875rem;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
}

#footer ul li a {
  margin-right: 30px;
}

#footer p {
  font-size: 0.625rem;
}

.container {
  padding-top: 120px;
  padding-bottom: 160px;
}

.container .page-title {
  margin-bottom: 30px;
}

.items {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.items .item-image {
  width: 50%;
}

.items .item-text {
  width: 42%;
}

.items .item-text p {
  margin-bottom: 30px;
}

.items .item-text dl {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items .item-text dl dt {
  width: 30%;
}

.items .item-text dl dd {
  width: 70%;
}

.link {
  text-align: center;
}

.products .page-title {
  padding-top: 40px;
  padding-bottom: 30px;
}

#company .company-data {
  max-width: 600px;
}

#company .company-data dl {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

#company .company-data dl dt {
  width: 30%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #dcdbdb;
}

#company .company-data dl dt:last-of-type {
  border: none;
}

#company .company-data dl dd {
  width: 70%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #dcdbdb;
}

#company .company-data dl dd:last-of-type {
  border: none;
}

#company iframe {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#about {
  max-width: 600px;
  margin-left: 0;
}

#about p {
  line-height: 1.9;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  #top ul {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 5.7%;
            column-gap: 5.7%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .items .item-image {
    width: 100%;
    margin-bottom: 30px;
  }
  .items .item-text {
    width: 100%;
  }
  #company .company-data dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #company .company-data dl dt {
    padding-bottom: 10px;
    width: 100%;
    border: none;
  }
  #company .company-data dl dd {
    width: 100%;
    padding-top: 0;
  }
  #company .company-data dl dd:last-of-type {
    border: none;
  }
}
/*# sourceMappingURL=styles.css.map */