@charset "UTF-8";
html {
  font-size: 100%;
}

img {
  width: 100%;
  vertical-align: middle;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

#toggle-btn {
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #fff;
}

#toggle-btn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #666;
}

#toggle-btn span:nth-child(1) {
  top: 10px;
}

#toggle-btn span:nth-child(1).open {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
  background-color: white;
  z-index: 20;
}

#toggle-btn span:nth-child(2) {
  bottom: 10px;
}

#toggle-btn span:nth-child(2).open {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
  background-color: white;
  z-index: 20;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
}

#mask.open {
  display: block;
}

.wrapper {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header h1 {
  display: block;
}

#header h1 img {
  width: 180px;
}

#header nav ul {
  z-index: 20;
  font-size: 0.875rem;
  position: fixed;
  width: 300px;
  top: 0;
  left: -300px;
  padding: 36px 50px;
  opacity: 1;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header nav ul.open {
  left: 0;
}

#header nav ul li {
  margin-bottom: 15px;
}

#header nav ul li a {
  color: white;
}

#top {
  padding-bottom: 160px;
}

#top ul {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 26px;
          column-gap: 26px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#top ul a {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#top ul a:hover {
  opacity: 0.7;
}

#top ul a li {
  margin-bottom: 40px;
}

#top ul a li img {
  margin-bottom: 10px;
}

#top ul a li p {
  text-align: left;
  font-size: 0.75rem;
}

#top .view-more-link {
  text-align: center;
}

#top .view-more-link a {
  font-size: 0.875rem;
  display: inline-block;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
}

#footer ul li a {
  margin-right: 30px;
}

#footer p {
  font-size: 0.625rem;
}
/*# sourceMappingURL=styles.css.map */